.page__header {
  padding-top: 45px;
  width: calc(880/1280*100%);
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .page__header {
    padding-top: 28px;
    width: 100%;
  }
}
