.popup__submit {
  width: 358px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: var(--main-color);
  background-color: var(--dark-color);
  align-self: center;
  transition: background-color .3s linear;
}

@media screen and (max-width: 550px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .popup__submit:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
}
