.profile__name {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    line-height: 32.68px;
    padding-left: 28px;
  }
}
